.header{
    // background-color: #c2ff1b;
    display: flex;
    justify-content: space-between;
    padding: 14px 120px;
    align-items: center;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    

    &__navbar{

        h2{
            border: 1px solid #fd4800;
            border-radius: 10px;
            padding: 8px;
            background-color: black;
            color: #ffffff;
            width: 325px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .content{
        
        &__title{
            font-size: 24px;
            color: #fdfdfd;
            font-weight: bold;
        }
    }
}