@use 'header';
@use 'hero';
@use 'ministros';
@use 'evento';
@use 'footer';
@use 'ingresso';
@use 'contagem';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat,Sans-serif;
}